
/.ipynb_checkpoints
/data
/streamlit/__pycache__
/streamlit/__pycache__
/data
/.ipynb_checkpoints
/streamlit/__pycache__
/__pycache__
*.txt
/ML Metoder/.ipynb_checkpoints
*.mp4
/.ipynb_checkpoints
/__pycache__
/data
/streamlit/__pycache__
*.pdf
